<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK NOW</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <style>
        body {
            background: rgba(255, 255, 255);
            margin: 0;
            padding: 0;
            font-family: 'Jost', sans-serif;
        }

        .flx {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100vh;
            margin: 0;
        }

        .Hospital-Selection {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            width: 100%;
            background-color: rgb(191, 228, 235);
            border-radius: 10px;
            margin: 5px;
        }

        .details {
            flex: 3;
            border-radius: 10px;
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgb(191, 228, 235);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            padding: 20px;
            color: black;
        }

        .heading {
            font-size: 4vh;
            font-weight: bolder;
            margin: 0;
            color: black;
        }

        .p1 {
            font-size: 3vh;
            text-align: left;
            color: black;
            margin-top: 2vh;
        }
        .p3 {
            font-size: 3vh;
            text-align: left;
            color: black;
        }

        .inp {
            height: 5vh;
            border-radius: 10px;
            width: 90%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 10px;
            transition: transform 0.3s;
            margin-bottom: 1vh;
            box-sizing: border-box;
        }

        .inp:hover {
            transform: scale(1.02);
            border: solid rgb(93, 120, 159);
            border-radius: 10px;
        }

        .entity {
            margin-bottom: 20px;
        }

        .entity select {
            width: 90%;
            font-size: 3vh;
        }

        .entity select option {
            width: 100%;
            font-size: 3vh;
        }

        .btn-container {
            text-align: center;
        }

        .submit-btn {
            background: #e74c3c;
            color: #fff;
            border: 3px white;
            border-radius: 5px;
            padding: 12px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;
            font-weight: bold;
        }

        .submit-btn:hover {
            background: #00A86B;
            transform: scale(1.2);
            font-weight: normal;
        }

        .form-container {
            width: 80%;
        }

        @media (min-width: 768px) {
            .flx {
                flex-direction: row;
            }
            .Hospital-Selection {
                flex: 2;
            }
            .details {
                flex: 1;
                margin-left: 10px;
                margin-right: 0;
            }
        }
        h1{
            margin-bottom: 100px;
            font-size: 6vh;
        }
        input[type=radio]{
            /* border: 0px; */
            width: 20px;
            height: 18px;
            
        }
    </style>
</head>
<body>









    <form id="patientForm" action="/login/profile/booking" method="post">
    <div class="flx">
        
        <div class="Hospital-Selection" data-aos="fade-right">
            <h1>Select a Hospital</h1>
            <div style=" font-size: 3vh ;">
                <% arr.forEach(function(hospitaldata){ %>
                    Hospital Name: <%= hospitaldata.hospitalname %> &nbsp &nbsp &nbsp  Hospital Distance: <%= hospitaldata.hospitaldistance %> KM &nbsp  <input type="radio" name="selectedhos" value= <%= hospitaldata.hospitalname %> > <br><br><br>
                <% }) %>
            </div>
            
        </div>
        <div class="details" data-aos="fade-left">
            <p class="heading" data-aos="flip-up" data-aos-duration="2000">Details</p>
            <div class="form-container">
                
                    <div class="entity">
                        <p class="p1" data-aos="flip-up" data-aos-duration="2000">Patient Name</p>
                        <input type="text" class="inp" id="patientName" required="" name="pname">
                    </div>
                    <div class="entity">
                        <p class="p1" data-aos="flip-up" data-aos-duration="2000">Patient Age</p>
                        <input type="text" class="inp" id="patientAge" required="" name="page">
                    </div>
                    <div class="entity">
                        <p class="p3" data-aos="flip-up" data-aos-duration="2000">Patient Gender</p>
                        <div style="color: black; font-size: 3vh;">
                            Male: <input type="radio" name="pgender" required="" value="Male">
                            &nbsp &nbsp &nbsp
                            Female: <input type="radio" name="pgender" required="" value="Female">
                            &nbsp &nbsp
                            Other: <input type="radio" name="pgender" required="" value="Other">
                        </div>
                    </div>
                    <div class="entity">
                        <p class="p3" data-aos="flip-up" data-aos-duration="2000">Phone Number</p>
                        <input type="tel" class="inp" id="Phonenumber" required="" name="pnumber">
                    </div>
                    <div class="btn-container">
                        <button type="submit" class="submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000
        });
    </script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK NOW</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <style>
        body {
            /* background-color: #20CDC1; */
            
            margin: 0;
            padding: 0;
            font-family: 'Jost', sans-serif;
        }

        .flx {
            width: 100%;
            display: flex;
            flex-direction: column;
           min-height: 100vh; 
            margin: 0;
        }

        .Hospital-Selection {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            width: 100%;
            background-color: white;
            border-radius: 10px;
            /* margin: 5px; */
            color: #2D4A90;
            /* max-height: 50vh; */
        }

        .details {
            /* position: fixed; */
            color: #fff;
            /* height: 80vh; */
            flex: 3;
            border-radius: 0px;
            /* margin: 5px; */
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            text-align: center;
            background:  #2D4A90;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            padding: 20px;
            
        }

        .heading {
            font-size: 4vh;
            font-weight: bolder;
            margin: 0;
            margin-top: 55px;
            /* color: black; */
        }

        .p1 {
            font-size: 3vh;
            text-align: left;
            /* color: black; */
            margin-top: 2vh;
        }
        .p3 {
            font-size: 3vh;
            text-align: left;
            /* color: black; */
        }

        .inp {
            height: 5vh;
            border-radius: 10px;
            width: 90%;
            border: none;
            /* border: 1px solid rgba(0, 0, 0, 0.2); */
            padding: 10px;
            transition: transform 0.3s;
            margin-bottom: 1vh;
            box-sizing: border-box;
        }

        .inp:hover {
            transform: scale(1.02);
            border: solid #20CDC1;
            border-radius: 10px;
        }
        .inp:focus {
            border: solid #fff;
            outline: none;
        }
        .inp:active {
            
            border: solid #fff;


        }

        .entity {
            margin-bottom: 20px;
        }

        .entity select {
            width: 90%;
            font-size: 3vh;
        }

        .entity select option {
            width: 100%;
            font-size: 3vh;
        }

        .btn-container {
            text-align: center;
        }

        .submit-btn {
            background: #00A86B;
            color: #fff;
            border: 3px white;
            border-radius: 15px;
            padding: 12px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;
            font-weight: bold;
        }

        .submit-btn:hover {
            background: #e74c3c;

            transform: scale(1.2);
            font-weight: normal;
        }

        .form-container {
            width: 80%;
        }

        @media (min-width: 768px) {
            .flx {
                flex-direction: row;
            }
            .Hospital-Selection {
                flex: 2;
            }
            .details {
                flex: 1;
                margin-left: 10px;
                margin-right: 0;
            }
        }
        h1{
            margin-bottom: 80px;
            font-size: 6vh;
        }
        input[type=radio]{
            /* border: 0px; */
            width: 20px;
            height: 18px;
            
        }
    </style>
</head>
<body>


    <form id="patientForm" action="/login/profile/booking" method="post">
    <div class="flx">
        
        <div class="Hospital-Selection" data-aos="fade-right">
            <h1>Select a Hospital</h1>
            <div style=" font-size: 3vh ;">
                <% arr.forEach(function(hospitaldata){ %>
                    Hospital Name: <%= hospitaldata.hospitalname %> &nbsp &nbsp &nbsp  Hospital Distance: <%= hospitaldata.hospitaldistance %> KM &nbsp  <input type="radio" name="selectedhos" value= <%= hospitaldata.hospitalname %> > <br><br><br>
                <% }) %>
            </div>
            
        </div>
        <div class="details" >
            <p class="heading" data-aos="flip-up" data-aos-duration="2000">Details</p>
            <div class="form-container">
                
                    <div class="entity">
                        <p class="p1" data-aos="flip-up" data-aos-duration="2000">Patient Name</p>
                        <!-- <input type="text" class="inp" id="patientName" required> -->
                        <input type="text" class="inp" id="patientName" required="" name="pname">
                    </div>
                    <div class="entity">
                        <p class="p1" data-aos="flip-up" data-aos-duration="2000">Patient Age</p>
                        <!-- <input type="text" class="inp" id="patientAge" required> -->
                        <input type="text" class="inp" id="patientAge" required="" name="page">
                    </div>
                    <div class="entity">
                        <p class="p3" data-aos="flip-up" data-aos-duration="2000">Patient Gender</p>
                        <div style="color: white; font-size: 3vh;">
                            Male: <input type="radio" name="pgender" required="" value="Male">
                            &nbsp &nbsp &nbsp
                            Female: <input type="radio" name="pgender" required="" value="Female">
                            &nbsp &nbsp
                            Other: <input type="radio" name="pgender" required="" value="Other">
                        </div>
                    </div>
                    <div class="entity">
                        <p class="p3" data-aos="flip-up" data-aos-duration="2000">Phone Number</p>
                        <input type="tel" class="inp" id="Phonenumber" required="" name="pnumber">
                    </div>
                    <div class="btn-container" data-aos="flip-up">
                        <button type="submit" onclick="send()" class="submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        function send(){
            alert("Your booking request will be sent to the selected hospital. You will receive a conformation email from the hospital.");
        }
    </script>
    <script>
        AOS.init({
            duration: 1000
        });
    </script>
</body>
</html>